###################
# Compiled Source #
###################
*.py[cod]
/__pycache__


###############
# Directories/Misc #
###############
.DS_Store
.idea
/venv


#########
# Environments #
#########
.env
.flaskenv
env/