###################
# Compiled Source #
###################
*.pyc
/__pycache__


###############
# Directories #
###############
/.DS_Store
/venv
/instance/settings.py


#########
# Local #
#########
config.py
.env