{% import 'macros/flash.html' as flash with context %}

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
		<meta name="description" content="">
		<meta name="author" content="Erik Shagdar">
		<link rel="icon" href="{{ url_for('static', filename='images/thumb.png')}}">

		<title>Erik Shagdar</title>

		<script src='https://www.google.com/recaptcha/api.js'></script>

		<!-- Bootstrap core CSS -->
		<link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet">

		<!-- Custom styles for this template -->
		<link href="{{ url_for('static', filename='css/cover.css') }}" rel="stylesheet">

		<!-- Glyphs -->
		<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css" integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" crossorigin="anonymous">
	</head>


	<body>
		<div class="site-wrapper">
			<div class="site-wrapper-inner">
				<div class="cover-container">
					<div class="masthead clearfix">
						<div class="inner">
							{{ flash.render() }}
							{% include "navbar.html" %}
						</div>
					</div>
					{% block content %}{% endblock %}
					{% include "footer.html" %}
				</div>
			</div>
		</div>

		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
		<script src="https://npmcdn.com/tether@1.2.4/dist/js/tether.min.js"></script>
		<script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
	</body>
</html>
