{% block footer %}

<div class="mastfoot">
	<div class="inner">
		<a href="https://github.com/ericgarig" target="_blank">
            <i class="fab fa-github"></i>
        </a>
		<a href="https://www.linkedin.com/in/erikshagdar" target="_blank">
            <i class="fab fa-fw fa-linkedin"></i>
        </a> 
		<a href="https://instagram.com/ericgarig/" target="_blank">
            <i class="fab fa-fw fa-instagram"></i>
        </a> 
		<p>Powered by <a href="http://flask.pocoo.org/" target="_blank">Flask</a><br> &copy; Erik Shagdar 2015-2018</p>
	</div>
</div>

{% endblock %}
