{% block footer %}

	<div class="mastfoot">
		<div class="inner">
			<a href="https://github.com/ericgarig" target="_blank" class="btn-social btn-outline"><i class="fa fa-fw fa-github"></i></a> 
			<a href="https://www.linkedin.com/in/erikshagdar" target="_blank" class="btn-social btn-outline"><i class="fa fa-fw fa-linkedin"></i></a> 
			<a href="https://instagram.com/ericgarig/" target="_blank" class="btn-social btn-outline"><i class="fa fa-fw fa-instagram"></i></a> 
			| 
			<a href="https://slack.com/" target="_blank" class="btn-social btn-outline"><i class="fa fa-slack"></i></a> 
			<a href="https://trello.com/" target="_blank" class="btn-social btn-outline"><i class="fa fa-fw fa-trello"></i></a> 
			<p>&copy; Erik Shagdar 2015 | Powered by <a href="http://flask.pocoo.org/" target="_blank">Flask</a>.</p>
		</div>
	</div>

{% endblock %}
